<div class="background">
  <section class="container">
    <div class="fw-bold fs-4 pt-5 p-4">Your Cart</div>
    <table class="table">
      <thead>
        <th>ID</th>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Delete</th>
      </thead>
      
      <tbody>
        <tr *ngFor="let product of inCard">
          <td data-label="ID">{{product.id}}</td>
          <td data-label="Product Image"><img [src]="product.imgURL" /></td>
          <td data-label="Product Name">{{product.name}}</td>
          <td data-label="Price">{{product.price | currency}}</td>
          <td data-label="Quantity">{{product.quantity}}</td>
          <td data-label="Quantity">{{product.quantity * product.price | currency}}</td>
          <td data-label="Delete">
            <button class="x" (click)="delete(product)"><i class="bi bi-x"></i></button>
          </td>
        </tr>
        <tr *ngIf="inCard.length == 0" class="emptyCart">
          <td colspan="7">Your cart is empty</td>
        </tr>
      </tbody>
    </table>


    <div class="confirm d-flex justify-content-between">
      <button class=" btn btn-dark" routerLink="/menu"><i class="bi bi-arrow-left"></i> Back To Menu</button>
      <button class="btn btn-success" (click)="confirm()" *ngIf="inCard.length > 0">
        Confirm
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </section>
</div>
