<div class="background">
  <a routerLink="/home">
    <i class="bi bi-arrow-left-short back"></i>
  </a>
  <section class="container">
    <div class="head">
      <div class="fw-bold">Menu</div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="search">
        <input type="text" placeholder="Search..." #inp>
        <i class="bi bi-search" (click)="search(inp.value)"></i>
      </div>
        <div class="cart" routerLink="/cart">
          <i class="bi bi-cart-fill"></i>
          <span *ngIf="cart > 0">{{ cart }}</span>
        </div>
      </div>
    </div>
    <div class="parent">
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let product of showProducts">
          <div class="myCard">
            <img [src]="product.imgURL" alt="" />
            <!-- <span class="text-primary">cold coffee</span> -->
            <div class="d-flex justify-content-between">
              <p>{{ product.name | uppercase }}</p>
              <p>{{ product.price | currency }}</p>
            </div>
            <div class="d-flex justify-content-between box">
              <i class="bi bi-dash" (click)="remove(product, quan.value)"></i>
              <input
                type="number"
                name=""
                id=""
                class="text-center"
                [value]="product.quantity"
                #quan
              />
              <!-- <input type="number" name="" id="" class="text-center" [(ngModel)]="product.quantity" #quan> -->
              <i class="bi bi-plus" (click)="add(product, quan.value)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
