<div class="background">
  <a  routerLink="/home">
    <i class="bi bi-arrow-left-short back"></i>
  </a>
<section class="container">
  <div class="head">
    <div class="fw-bold">
      Menu
    </div>
    <div>
      <input type="search" placeholder="Search...">
      <i class="bi bi-cart"></i>
    </div>
  </div>
  <div class="parent">
    <div class="row">
      <div class="col-md-4">
        <div class="myCard">
          <img src="Menu/IcedCoffee.jpeg" alt="">
          <!-- <span class="text-primary">cold coffee</span> -->
          <div class="d-flex justify-content-between">
            <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="myCard">
        <img src="Menu/IcedCoffee.jpeg" alt="">
        <div class="d-flex justify-content-between">
          <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="myCard">
          <img src="Menu/IcedCoffee.jpeg" alt="">
          <div class="d-flex justify-content-between">
          <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="myCard">
          <img src="Menu/IcedCoffee.jpeg" alt="">
          <!-- <span class="text-primary">cold coffee</span> -->
          <div class="d-flex justify-content-between">
            <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="myCard">
        <img src="Menu/IcedCoffee.jpeg" alt="">
        <div class="d-flex justify-content-between">
          <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="myCard">
          <img src="Menu/IcedCoffee.jpeg" alt="">
          <div class="d-flex justify-content-between">
          <p>Name</p>
          <p>00.00$</p>
        </div>
        <div class="d-flex justify-content-between box">
          <i class="bi bi-dash"></i>
          <input type="number" name="" id="" class="text-center" value="0">
          <i class="bi bi-plus"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>