.background  {
  background-color: #D8D2C2;
  min-height: 100vh;
}
.back {
  position: absolute;
  left: 3vw;
  top: 1em;
  font-size: 24px;
  color: #1E1E1E;
}
i {
  cursor: pointer;
  color: #1E1E1E;
}
section p {
  margin-top: 1.8em;
}
.head {
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding-top: 1.8em;
  margin-left: auto;
  margin-right: auto;
}
.head input {
  border-radius: 25px;
  /* margin-right: 20px; */
  border: 1px solid gray;
  outline: none;
  padding: 3px 15px;
  font-size: 12px;
}
.head i {
  margin-left: 10px;
}
.search {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.search i{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
.search input {
  opacity: 0;
  width: 0%;
  transition: .5s;
  background-color: rgba(255, 255, 255, .3);
}
.search:hover input {
  width: 100%;
  opacity: 1;
}
.cart{
  position: relative;
  cursor: pointer;
}
.cart i {
  font-size: 24px;
}
.cart span {
  position: absolute;
  top: 1px;
  right: -5px;
  font-size: 10px;
  color: #FA2B57;
  background-color: white;
  padding: 1px 5px;
  border-radius: 50%;
  /* width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.parent {
  margin-top: 40px;
}
.myCard {
  background-color: #1E1E1E;
  padding: 20px 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.myCard img {
  width: 100%;
  border-radius: 15px;
}

.box {
  padding: 0;
}
.box input {
  border-radius: 25px;
  outline: none;
  border: 1px solid gray;
  width: 50%;
}
.box i,
.myCard div:first-of-type {
  color: #D8D2C2;
}

@media screen and (max-width: 576px) {
  .head div:first-of-type {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1032px) {
  .head div:first-of-type {
    padding-left: 20px;
  }
}
.divBtn {
  padding: 20px;
}
.showBtn {
  padding: 5px 25px;
  border: none;
  border-radius: 25px;
  background-color: #E47F31;
}