<div class="background">
  <a routerLink="/home">
    <i class="bi bi-arrow-left-short back"></i>
  </a>
  <section class="container">
    <div class="head">
      <div class="fw-bold">Menu</div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="search">
          <input
            type="text"
            (keydown)="onKeyDown($event, inp.value)"
            (input)="search(inp.value)"
            placeholder="Search..."
            #inp
          />
          <i class="bi bi-search" (click)="search(inp.value)"></i>
        </div>
        <div class="cart" routerLink="/cart">
          <i class="bi bi-cart-fill"></i>
          <!-- <span *ngIf="cart > 0">{{ cart }}</span> -->
          <span *ngIf="cart > 0"><i class="bi bi-circle-fill text-danger"></i></span>
        </div>
      </div>
    </div>
    <div class="parent">
      <div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let product of getPro()">
          <div class="myCard">
            <img [src]="product.imgURL" alt="" />
            <!-- <span class="text-primary">cold coffee</span> -->
            <div class="d-flex justify-content-between">
              <p>{{ product.name | uppercase }}</p>
              <p>{{ product.price | currency }}</p>
            </div>
            <div class="d-flex justify-content-between box">
              <i class="bi bi-dash" (click)="remove(product, quan.value)"></i>
              <input
                type="number"
                (keydown)="quantityPress($event,product, quan.value)"
                class="text-center"
                [value]="product.quantity"
                #quan
              />
              <i class="bi bi-plus" (click)="add(product, quan.value)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center divBtn">
        <div class="col-md-4 text-center" *ngIf="inp.value == ''">
          <button class="btn btn-dark ps-5 pe-5" (click)="btnToggle()">
            {{ showAll ? "Show Less" : "Show All" }}
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
