.org-color{
  color: var(--secondColor);
}
.parent{
  background-color: #0C0904;
  color: white;
  padding: 40px 0;
}
.links {
  width: 10%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.links i {
  color: var(--secondColor);
}
