.org-color{
  color: var(--secondColor);
}
.parent{
  background-color: #0C0904;
  color: white;
  padding: 40px 0;
}
.links {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.links i {
  color: var(--secondColor);
  margin: 0 5px;
}
