<header>
  <div class="header">
    <div class="container">
      <div class="bi bi-list" id="menu-icon" (click)="menuClick()"></div>
      <a routerLink="/home" class="logoM">
        <img src="header/logo.png" alt="">
      </a>
      <ul class="navlist">
        <li><a routerLink="/home" (click)="menuClick()">Home</a></li>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/home" fragment="about" (click)="menuClick()">About Us</a></li>
        <li><a routerLink="/home" fragment="reviews" (click)="menuClick()">Reviews</a></li>
      </ul>
      <div class="right-content">
        <a routerLink="/contact" class="nav-btn">Contact Us</a>
      </div>
    </div>
  </div>


  <section class="hero">
    <div class="container">
      <div class="hero-text">
        <h1 data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">Fuel Your Day With Flavor</h1>
      <p data-aos="fade-right" data-aos-duration="1400" data-aos-delay="300">
        Discover rich coffee, delicious bits, and a warm atmosphere where every visit feels like a retreat from the busy world.
      </p>
      
      <div class="main-hero" data-aos="flip-down" data-aos-duration="1400" data-aos-delay="400">
        <a class="btn" routerLink="/menu">Order Now</a>
      </div>
    </div>
  </div>
  </section>

  <div class="icons">
    <div class="container">
      <div class="parent">
        <a href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank"><i class="bi bi-facebook" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="600"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="700"></i></a>
        <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="800"></i></a>
      </div>
    </div>
  </div>

  <div class="scroll" data-aos="fade-down" data-aos-duration="1400" data-aos-delay="550">
    <div class="container">
      <div class="parent">
        <div class="i">
          <i class="bi bi-chevron-down"></i>
          <i class="bi bi-chevron-down"></i>
          <i class="bi bi-chevron-down"></i>
        </div>
        <span>
          Scroll Down To <br>
          Read More
        </span>
      </div>
    </div>
  </div>
</header>




<div class="logos" *ngIf="hideSections()">
  <div class="row w-100 m-auto block">
    <div class="col-sm-10 col-md-4 mb-3 block">
      <i class="bi bi-cup-hot logo "></i>
      <h5 class="logoH">Cold Coffee</h5>
    </div>
    <div class="col-sm-10 col-md-4 mb-3 block">
      <i class="bi bi-cup-hot-fill logo"></i>
      <h5 class="logoH">Hot Coffee</h5>
    </div>
    <div class="col-sm-10 col-md-4 mb-3 block">
      <i class="bi bi-cookie logo"></i>
      <h5 class="logoH">Dessert</h5>
    </div>
  </div>
</div>



<div class="bestsellers" *ngIf="hideSections()">
  <div class="besttext block">
    <h1 class="besthead">Best Sellers</h1>
  </div>
  <div class="container block">
    <div class="row block justify-content-center ps-4 pe-4">
      <div class="col-sm-7 col-md-4 mb-3 block">
        <div class="card pb-3 block">
          <div class="block">
            <img src="Menu/ice coffe/IcedCoffee.jpeg" class="card-img-top" alt="...">
            <div >
              <h5 class="pt-3">Iced Coffee</h5>
              <a routerLink="/menu" class="btn cardbtn fw-bold rounded-pill">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-4 mb-3 block">
        <div class="card pb-3 block">
          <div class="block">
            <img src="Menu/ice coffe/Iced Espresso.jpg" class="card-img-top" alt="...">
            <div class="block">
              <h5 class="pt-3">Iced Espresso</h5>
              <a routerLink="/menu" class="btn cardbtn fw-bold rounded-pill">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-4 mb-3 block">
        <div class="card pb-3 block">
          <div class="block">
            <img src="Menu/ice coffe/Iced Caffè Mocha.jpg" class="card-img-top" alt="...">
            <div class="block">
              <h5 class="pt-3">Mocha</h5>
              <a routerLink="/menu" class="btn cardbtn fw-bold rounded-pill">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
