.reviewstitle{
  text-align: center;
  padding: 50px 0 20px 0;
}
.reviewshead{
  color: var(--secondColor);
  padding-bottom: 10px;
}

.btncolor{
  background-color: var(--secondColor);
}
.reviewtext{
  align-items: center;
  padding-bottom: 50px;
  color: var(--firstColor);
  font-size: 2vw;
}
.carousel-item img {
  object-fit: cover;
  opacity: 15%;
}
.bi-quote{
  font-size: 100px;
  color: var(--secondColor);
}
.carousel-caption img {
  border-radius: 50%;
  box-sizing: border-box;  
  opacity: 100%;
  width: 80px;
}
.clientname{
  padding: 30px 0 50px 0;
  color: var(--firstColor);
  font-size: 20px;
}
.box{
  background-color: var(--thirdColor);
  padding-bottom: 60px;
}
@media (max-width: 950px) {
  .bi-quote {
    font-size: 50px;
  }
  .clientname {
    padding-top: 10px;
    padding-bottom: 0px
  }
  .reviewtext {
    padding-bottom: 0;
    /* font-size: 15px; */
  }
}
@media (max-width: 768px) {
  .bi-quote {
    font-size: 20px;
  }
  .clientname {
    padding-top: 0;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
  }
  .carousel-caption img {
    width: 50px;
  }
}

@media (max-width: 586px) {
  .bi-quote {
    display: none;
  }
  .clientname {
    display: none;
  }
  .carousel-caption img {
    display: none;
  }
  .reviewtext {
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .reviewtext {
    margin-bottom: 20px;
  }
}